*.lua linguist-language=Lua
*.req linguist-language=Lua
*.odf linguist-language=C#
*.sfx linguist-language=C#
*.combo linguist-language=C#
*.lyr linguist-language=C#
*.pth linguist-language=C#
*.rgn linguist-language=C#
*.bar linguist-language=C#
*.bnd linguist-language=C#
*.cus linguist-language=C#
*.enc linguist-language=C#
*.fx linguist-language=C#
*.ffx linguist-language=C#
*.grp linguist-language=C#
*.hnt linguist-language=C#
*.ldx linguist-language=C#
*.lgt linguist-language=C#
*.lrg linguist-language=C#
*.pln linguist-language=C#
*.prp linguist-language=C#
*.sky linguist-language=C#
*.wld linguist-language=C#
*.hud linguist-language=C#
*.snd linguist-language=C#
*.mus linguist-language=C#
*.sanm linguist-language=C#
*.anm linguist-language=C#
*.grp linguist-language=C#
*.pvs linguist-language=C#
*.mcfg linguist-language=C#
